services:
  app:
    image: dgarcia51/crm:latest
    ports:
      - "3010:3010"
    env_file:
      - /home/ghost/crm/.env
    deploy:
      replicas: 3
      update_config:
        parallelism: 1
        delay: 10s
        failure_action: rollback
