services:
  app:
    image: dgarcia51/crm:latest
    ports:
      - "3010:3010"
    env_file:
      - .env.crm
    environment:
      - PORT=${PORT:-3010}
      - DATABASE_URL=${DATABASE_URL}
      - POSTMARK_SERVER_TOKEN=${POSTMARK_SERVER_TOKEN}
      - POSTMARK_FROM_EMAIL=${POSTMARK_FROM_EMAIL}
      - COOKIE_DOMAIN=${COOKIE_DOMAIN}
      - STRIPE_SECRET_KEY=${STRIPE_SECRET_KEY}
      - STRIPE_WEBHOOK_SECRET=${STRIPE_WEBHOOK_SECRET}
      - BETTER_AUTH_URL=${BETTER_AUTH_URL}
      - BETTER_AUTH_SECRET=${BETTER_AUTH_SECRET}
      - GOOGLE_CLIENT_ID=${GOOGLE_CLIENT_ID}
      - GOOGLE_CLIENT_SECRET=${GOOGLE_CLIENT_SECRET}
      - APPLE_CLIENT_ID=${APPLE_CLIENT_ID}
      - APPLE_CLIENT_SECRET=${APPLE_CLIENT_SECRET}
      - APPLE_APP_BUNDLE_IDENTIFIER=${APPLE_APP_BUNDLE_IDENTIFIER}
      - BASE_URL=${BASE_URL}

    deploy:
      replicas: 3
      update_config:
        parallelism: 1
        delay: 10s
        failure_action: rollback
