services:
  app:
    image: dgarcia51/crm:latest
    ports:
      - "3010:3010"
    environment:
      - PORT=${PORT}
      - DATABASE_URL=${DATABASE_URL}
      - JWT_SECRET=${JWT_SECRET}
      - S3_REGION=${S3_REGION}
      - S3_BUCKET=${S3_BUCKET}
      - POSTMARK_SERVER_TOKEN=${POSTMARK_SERVER_TOKEN}
      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
      - COOKIE_DOMAIN=${COOKIE_DOMAIN}
    deploy:
      replicas: 3
      update_config:
        parallelism: 1
        delay: 10s
        failure_action: rollback
