name: cd
on:
  push:
    branches: [main]
jobs:
  build-and-push:
    name: build-and-push
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: checkout code
        uses: actions/checkout@v4

      - name: set up node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "npm"

      - name: install deps
        run: npm ci

      - name: build app
        env:
          BASE_URL: ${{ secrets.BASE_URL}}
          BETTER_AUTH_SECRET: ${{ secrets.BETTER_AUTH_SECRET}}
          BETTER_AUTH_URL: ${{ secrets.BETTER_AUTH_URL}}
          GOOGLE_CLIENT_ID: ${{ secrets.GOOGLE_CLIENT_ID}}
          GOOGLE_CLIENT_SECRET: ${{ secrets.GOOGLE_CLIENT_SECRET}}
          APPLE_CLIENT_ID: ${{ secrets.APPLE_CLIENT_ID}}
          APPLE_CLIENT_SECRET: ${{ secrets.APPLE_CLIENT_SECRET}}
          APPLE_APP_BUNDLE_IDENTIFIER: ${{ secrets.APPLE_APP_BUNDLE_IDENTIFIER}}
          DATABASE_URL: ${{ secrets.DATABASE_URL}}
          POSTMARK_SERVER_TOKEN: ${{ secrets.POSTMARK_SERVER_TOKEN}}
          POSTMARK_FROM_EMAIL: ${{ secrets.POSTMARK_FROM_EMAIL}}
          STRIPE_WEBHOOK_SECRET: ${{ secrets.STRIPE_WEBHOOK_SECRET}}
          STRIPE_SECRET_KEY: ${{ secrets.STRIPE_SECRET_KEY}}
          COOKIE_DOMAIN: ${{ secrets.COOKIE_DOMAIN}}
        run: npm run build

      - name: login to docker hub
        uses: docker/login-action@v3
        with:
          username: ${{vars.DOCKERHUB_USERNAME}}
          password: ${{secrets.DOCKERHUB_TOKEN}}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: dgarcia51/crm:${{ github.sha }},dgarcia51/crm:latest
          secrets: |
            "BASE_URL=${{ secrets.BASE_URL}}"
            "BETTER_AUTH_SECRET=${{ secrets.BETTER_AUTH_SECRET}}"
            "BETTER_AUTH_URL=${{ secrets.BETTER_AUTH_URL}}"
            "GOOGLE_CLIENT_ID=${{ secrets.GOOGLE_CLIENT_ID}}"
            "GOOGLE_CLIENT_SECRET=${{ secrets.GOOGLE_CLIENT_SECRET}}"
            "APPLE_CLIENT_ID=${{ secrets.APPLE_CLIENT_ID}}"
            "APPLE_CLIENT_SECRET=${{ secrets.APPLE_CLIENT_SECRET}}"
            "APPLE_APP_BUNDLE_IDENTIFIER=${{ secrets.APPLE_APP_BUNDLE_IDENTIFIER}}"
            "POSTMARK_SERVER_TOKEN=${{ secrets.POSTMARK_SERVER_TOKEN }}"
            "POSTMARK_FROM_EMAIL=${{ secrets.POSTMARK_FROM_EMAIL}}"
            "DATABASE_URL=${{ secrets.DATABASE_URL}}"
            "STRIPE_WEBHOOK_SECRET=${{ secrets.STRIPE_WEBHOOK_SECRET}}"
            "STRIPE_SECRET_KEY=${{ secrets.STRIPE_SECRET_KEY}}"
            "COOKIE_DOMAIN=${{ secrets.COOKIE_DOMAIN}}"

  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    timeout-minutes: 30
    needs:
      - build-and-push
    steps:
      - name: checkout code
        uses: actions/checkout@v4

      - name: Write .env file on server
        uses: appleboy/ssh-action@master
        with:
          host: soldbyghost.com
          username: ghost
          key: ${{ secrets.SSH_KEY }}
          script: |
            cat <<EOF > /home/ghost/crm/.env
            PORT=3010
            NODE_ENV=production
            DATABASE_URL=${{ secrets.DATABASE_URL }}
            JWT_SECRET=${{ secrets.JWT_SECRET }}
            BASE_URL=${{ secrets.BASE_URL }}
            BETTER_AUTH_SECRET=${{ secrets.BETTER_AUTH_SECRET }}
            BETTER_AUTH_URL=${{ secrets.BETTER_AUTH_URL }}
            GOOGLE_CLIENT_ID=${{ secrets.GOOGLE_CLIENT_ID }}
            GOOGLE_CLIENT_SECRET=${{ secrets.GOOGLE_CLIENT_SECRET }}
            APPLE_CLIENT_ID=${{ secrets.APPLE_CLIENT_ID }}
            APPLE_CLIENT_SECRET=${{ secrets.APPLE_CLIENT_SECRET }}
            APPLE_APP_BUNDLE_IDENTIFIER=${{ secrets.APPLE_APP_BUNDLE_IDENTIFIER }}
            POSTMARK_SERVER_TOKEN=${{ secrets.POSTMARK_SERVER_TOKEN }}
            POSTMARK_FROM_EMAIL=${{ secrets.POSTMARK_FROM_EMAIL }}
            STRIPE_WEBHOOK_SECRET=${{ secrets.STRIPE_WEBHOOK_SECRET }}
            STRIPE_SECRET_KEY=${{ secrets.STRIPE_SECRET_KEY }}
            COOKIE_DOMAIN=${{ secrets.COOKIE_DOMAIN }}
            S3_REGION=${{ secrets.S3_REGION }}
            S3_BUCKET=${{ secrets.S3_BUCKET }}
            AWS_ACCESS_KEY_ID=${{ secrets.AWS_ACCESS_KEY_ID }}
            AWS_SECRET_ACCESS_KEY=${{ secrets.AWS_SECRET_ACCESS_KEY }}
            EOF

      - name: deploy stack
        uses: cssnr/stack-deploy-action@v1
        with:
          name: crm
          file: docker-compose.yml
          host: soldbyghost.com
          user: ghost
          ssh_key: ${{ secrets.SSH_KEY }}
